.about-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    .col-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        .about-img {
            width: 80%;
            aspect-ratio: 1;
            background: var(--primary);
            padding-top: 1em;
            border-radius: 0 2em 2em 2em;
            overflow: hidden;
            outline: 1px solid var(--primary);
            outline-offset: 5px;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                object-position: center top;
            }
        }
    }
    .col-2 {
        strong {
            color: var(--primary);
        }
        h3 {
            margin-block: 0.75em;
        }
    }
    @media screen and (min-width:768px) {
        grid-template-columns: 1fr 1fr;
    }
}