.main-nav {
    z-index: 999;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    backdrop-filter: (blur(15px));
    position: fixed;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    padding: 0.6em 1.65em;
    outline: 1px solid var(--clr-text);
    .nav-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: clamp(0.7rem, -0.0167rem + 2.9333vw, 2rem);
        .nav-links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: clamp(0.25rem, 0.1333rem + 0.5333vw, 0.3rem);
            flex-direction: column;
            transition: all 300ms ease-in-out;
            border-radius: 8px;
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: clamp(0.9375rem, 0.7333rem + 0.9333vw, 1.375rem);
                aspect-ratio: 1;
                border-radius: 50%;
                padding: 0.2em;
            }
            p {
                line-height: 0.75;
                font-size: clamp(0.6875rem, 0.6292rem + 0.2667vw, 0.8125rem);
                @media screen and (min-width: 768px){
                    display: none;
                }
            }
            @media screen and (min-width: 768px) {
                flex-direction: row;
            }
            &.active {
                padding: 0.4em;
                background: var(--primary-transparent);
                color: var(--clr-heading);
                @media screen and (min-width: 768px){
                    padding: 0.2em 1em 0.2em 0.6em;
                    border-radius: 2em;
                    p {
                        display: block;
                    }
                }
            }
            &:hover,
            &:focus-visible {
                color: var(--primary);
            }
        }
        @media screen and (min-width: 768px) {
            gap: 2rem;
        }
    }
    @media screen and (min-width: 768px) {
        bottom: auto;
        top: 2rem;
    }
    &.hidden {
        bottom: -100px;
        transition: all 300ms ease-in-out;
        @media screen and (min-width: 768px) {
            bottom: auto;
            top: -100px;
        }
    }
}
