.skills-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    place-items: center;
    gap: 0.5rem;
    article {
        width: 100px;
        height: auto;
        box-shadow: 0 0 15px var(--dark-100);
        padding: 0.8em;
        .img {
            display: grid;
            place-items: center;
        }
        p {
            padding-top: 0.5em;
            color: var(--clr-heading);
            text-align: center;
        }
    }
}